h1, p {
    font-family: Lato;
  }

  .swal-text {
    padding: 10px;
    color: #61534e;
  }
  .swal-title{
    background-image: url("./assets/images/title_background.png") ;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 20px;
    background-size: cover;
    text-align: left;
  }

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body{
    height: 100%;
    margin: 0;
    font-family: "Slabo 27px", sans-serif;
    color: #183c55;
    font-weight: 400;
    line-height: 1.788;
    background-image: url("./assets/images/background.jpg");
    overflow: hidden;
}

.star{
    pointer-events: none;
    position: absolute;
    color: white;
}


.rect {
  height: 92%;
  width: 92%;
  /* background-image: linear-gradient(to top, #18d6f8, #0e6ab6); */
  background-image: url("./assets/images/background.jpg");
  /* transform: rotate(0deg) translate(1%, 6%); */
  border-radius: 50px 50px 50px 50px;
  position: relative;
  /* z-index: 10; */
  box-shadow: 10px 10px rgba(65, 49, 49, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px; */
  color:white;
}

.line{
  left: 50%;
  width: 40%;
  height: 20px;
  margin-top: 4px;
  border-top: 4px solid #18d6f8;
  position: absolute;
  transform: translate(-50%, -50%);
  }

.text-rect{
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 94%;
  width: 88%;
  background: rgba(86, 101, 115, 0.2);
  border-radius: 50px 50px 50px 50px;
  border: 4px solid #18d6f8;
  font-size: calc(7px + (0.5vw));
  text-align: center;
  position: relative;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
    /* margin-top: 6.5vh; */
    /* opacity: 0.99; */
    /* z-index: 100;
    padding-top: 0px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    flex-direction: column;     /* stack flex items vertically */
    /* justify-content: center;  
    align-items: center;        center items horizontally, in this case */
  } 

  .text-footer_new{
    /* top: 50%; */
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, 0%);
    width: 88%;
    height: 100px;
    background-image: url("./assets/images/photo_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: purple; */
    border-top:8px solid #18d6f8;
    border-bottom:8px solid #18d6f8;
    border-left:6px solid #18d6f8;
    border-right:6px solid #18d6f8;
    bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* bottom: 130px;
    height: 100px; */
    position: absolute;
    z-index: 100;
    /* width: 92.5%; 
    margin:0 auto; */
  }

  .photo-container_new{
    border: 3px solid white;
    /* border-left:3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
    border-bottom: 3px solid white; */
    height: 94px;
  }

  .title{
    margin:5px auto;
    margin-left: -10px;
    text-transform: uppercase;
  }

  .text-content{
    height: calc(100% - (192px));
    width: 100%;
    text-align: left;
    overflow: scroll;

  }

  .text-footer{
    /* background-image: url("footer_new.png");
    background-repeat: no-repeat;
    background-size: contain; */
    /* border-top:10px solid #18d6f8;
    border-bottom:10px solid #18d6f8; */
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  }





div#main-container {
height: calc(100% - (60px + 60px));
background:  #566573 ;
/* opacity: 0.8; */
overflow: hidden;
position: relative;
border:10px solid #18d6f8;
border-radius: 50px 50px 50px 50px;
margin-left:15px;
margin-right: 15px;
min-width: 702px;
min-height: 526px;
overflow: hidden;
}

div#root {
height: calc(100% - (20px));
width: calc(70% -(20px));
background:  transparent ;
/* float:left; #566573*/
position: absolute;
left: 0;
top: 0;
border: 10px solid transprent;
/* border-color: transparent; */
border-radius: 50px 50px 50px 50px;
}

div#info-window {
  border: 10px solid transparent;
  /* border-left-color: #18d6f8; */

height: calc(100% - (20px));
background:  #566573 ;
/* background-image: url("tlo.jpg"); */
position: absolute;
right: 0;
top: 0;
/* float:right; */
width: calc(30% -(20px));
/* overflow: scroll; */
}

.graph{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

.backgr{
  position: relative;
  background-color: #566573;
}
  
div#upper {
    height: 60px;
    /* background-image: url("tlo.jpg");
    background-position: right top;  */
	position: relative;
  min-width: 702px;
  overflow:hidden;


}

div#lower {
    /* background-image: url("tlo.jpg"); */
    height: 60px;
    position: relative;
    overflow:hidden;

    }

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.up:hover,
.up:focus {
  color: #fff;
  box-shadow: inset 0 -5.25em 0 0 #566573;
}

.up{
  transition: 0.25s;
}
    /* background-image: linear-gradient(to left, #18d6f8, #0e6ab6); */

.btn-bar{
	height:60px;
  overflow:hidden;
}

.btn{
	background: none;
	border: 5px solid #18d6f8;
	font: inherit;
	font-size: 13px;
	color: white;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	margin: 15px -50px 0px 58px;
	text-transform: uppercase;
	width: 150px;
	text-align: center;
	height: 60px;
	overflow: hidden;
	font-weight: bold;
}

@keyframes pulse {
	0% { box-shadow: 0 0 0 0; }
  }

/* $colors:(
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
); */

.content{
  display: none;
  height: 100%;
  width: 100%;
}

.loader{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  position: absolute;
  text-align: center;
}

.loader>h1{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - (100px)));
}

.loader>div{
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #18d6f8;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}